<root>
			<MysqlIP>127.0.0.1</MysqlIP>
			<Mysqlusr>root</Mysqlusr>
			<Mysqlpassword>xingke</Mysqlpassword>
			<Mysqldatabase>service_finder</Mysqldatabase>
			<table_name>service_table</table_name>
                       <time_out>30</time_out>   
                       <query_time>30</query_time> 
</root>
